body {
  background: #2f2f2f;
  color:white;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
}

.window{
  margin: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.sidebar {
  height: 100vh;
  width: 30vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}

.sidebar-entry{
  background-color: #181818;
  border-radius: 10px;
  color: white;
  padding: 5%;
  margin: 10px;
}

.sidebar-entry:hover{
  background-color: #202020;
}

.form-title-entry{
  width: 500px;
  padding: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #181818;
  color: white;
  user-select: none;
  font-size: 32px;
}

.form-description-entry{
  width: 500px;
  height: 500px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #181818;
  padding: 20px;
  text-align: left;
  color: white;
  font-size: 32px;
  overflow: none;
  resize: none;
}

.add-button{
  width: 100%;
  height: 100px;
  font-size: 32px;
  outline: none;
  border: 2px solid #181818;
  color: #2f2f2f;
  background: #181818;
  transition: ease-in 0.2s;
}

.add-button:hover{
  color: white;
  border: 2px solid white;
  transition: ease-in 0.2s;
}


