@font-face {
    font-family: "Truculenta";
    src: url(Truculenta-Regular.ttf) format("truetype");
}

* {
    font-family: "Truculenta";
    font-size: large;
}

body {
  background: black;
  color: white;
}

table {
    width: 400px;
    font-size: x-large;
}

th, td {
    text-align: center;
}