body {
  font-family: "Roboto", Arial, sans-serif;
  background: #0288d1;
  color: white;
  box-sizing: border-box;
}

#task-input {
  border-radius: 0.4em;
  height: 2em;
  width: 40%;
}

#input-form {
  width: 100%;
}

#input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
}

thead {
  background-color: var(--main-color);
}

th,
td {
  border: 1px solid black;
  padding: 8px 10px;
}
